<launch>
	
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub" args="0.1 0.1 0.1 1.6 0 0 map frame1" /> -->

	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub" args="0 0 0 0 0 0 map camera" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_1" args="1 0 0 0 0 0 map image1" />
<!-- 
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_2" args="2 0 0 0 0 0 map image2" />
	
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_2_5" args="2.5 0 0 0 0 0 map image2.5" /> -->
	
	<node pkg="rviz"  type="rviz" name="rviz" args="-d /proj/camera_ws/src/cam_projection/config.rviz" />

	<node pkg="cam_projection" type="pub_sphere.py" name="sphere_pub" output="screen"/>

	<node pkg="cam_projection" type="2d_proj.py" name="sphere_sub" output="screen"/>

</launch>
