<launch>

	<!-- Camera Frame Relative to Map Frame -->
	<arg name="x_camera"                          default="0.0"/>
	<arg name="y_camera"                          default="0.0"/>
	<arg name="z_camera"                          default="0.0"/>
	<arg name="yaw_camera"                        default="0.0"/>
	<arg name="pitch_camera"                      default="0.0"/>	 
	<arg name="roll_camera"                       default="0.0"/>


	<!-- Image Frame Relative to Camera Frame -->
	<arg name="x_image"                           default="0.5"/>
	<arg name="y_image"                           default="0.0"/>
	<arg name="z_image"                           default="0.0"/>
	<arg name="yaw_image"                         default="-1.571"/>
	<arg name="pitch_image"                       default="0.0"/>	 
	<arg name="roll_image"                        default="-1.571"/>


	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub" args="$(arg x_camera) $(arg y_camera) $(arg z_camera) $(arg yaw_camera) $(arg pitch_camera) $(arg roll_camera) map camera" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_2" args="$(arg x_image) $(arg y_image) $(arg z_image) $(arg yaw_image) $(arg pitch_image) $(arg roll_image) camera image" />

	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_3" args="0.5 0 0 0 0 0 map image_2" /> -->



	<node pkg="rviz"  type="rviz" name="rviz" args="-d /proj/camera_ws/src/cam_projection/demo.rviz" />

	<node pkg="cam_projection" type="pub_sphere.py" name="sphere_pub" output="screen"/>

	<node pkg="cam_projection" type="project" name="camera_projection" output="screen">
	
		<param name="rate"               type="double"   value="1.0"/>
		<param name="frame_map"          type="str"      value="map"/>
		<param name="frame_camera"       type="str"      value="camera"/>
		<param name="frame_image"        type="str"      value="image"/>
		<param name="topic_pcl"          type="str"      value="/points"/>
		<param name="topic_pcl_debug"    type="str"      value="/points_debug"/>
		<param name="topic_image"        type="str"      value="/image"/>
		<param name="topic_marker_viz"   type="str"      value="/marker_viz"/>
		
		<param name="focal_length"       type="double"   value="0.5"/>
		<param name="pixel_size"         type="double"   value="0.001"/>
		<param name="image_width"        type="int"      value="480"/>
		<param name="image_height"       type="int"      value="360"/>

	</node>

</launch>
